.gl-chat-box {
    background-color: #fff;
    margin: 20px;
    position: absolute;
    right: 0;
    height: 550px !important;
    bottom: 0;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.gl-chat-box>.chat-box-header {
    width: 100%;
    padding: 15px 15px;
    border-bottom: solid 1px #cfcfcf;
    box-sizing: border-box;
    background-color: #38b7ff;
}

.chat-box-header h3 {
    color: white;
}

.gl-chat-box>.chat-box-body {
    height: 100%;
    display: flex;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.gl-chat-box>.chat-box-body #chat_messages {
    width: 100%;
    padding: 20px 15px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.gl-chat-box>.chat-box-body #chat_messages .message {
    width: fit-content;
    padding: 15px 15px;
    margin: 2px 0;
    overflow: hidden;
    border-radius: 7px;
    transition: height 0.3s ease-in-out;
}

.gl-chat-box>.chat-box-body #chat_messages .message.hide {
    height: 0;
}

.gl-chat-box>.chat-box-body #chat_messages .my-message {
    color: #fff;
    background-color: #38b7ff;
    align-self: flex-end;
}

.gl-chat-box>.chat-box-body #chat_messages .other-message {
    background-color: #e2e2e285;
}

.gl-chat-box>.chat-box-body #chat_messages .profile {
    margin: 2px 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.gl-chat-box>.chat-box-body #chat_messages .profile.hide {
    height: 0;
}

.gl-chat-box>.chat-box-body #chat_messages .profile img {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border-radius: 50%;
}

.gl-chat-box>.chat-box-body #chat_messages .my-profile {
    color: #afafaf;
    align-self: flex-end;
}

.gl-chat-box>.chat-box-body #chat_messages .other-profile {
    color: #afafaf;
}

.gl-chat-box #typing {
    color: #afafaf;
    width: 100%;
    height: 0;
    padding: 0 15px;
    overflow: hidden;
    box-sizing: border-box;
    opacity: 0;
    transition: 0.3s height ease-in-out, 0.3s opacity ease-in-out;
}

.gl-chat-box #typing.active {
    height: 80px;
    opacity: 1;
}

.gl-chat-box #typing span:not(.n) {
    background-color: #afafaf;
    width: 10px;
    height: 10px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 50%;
}

.gl-chat-box #typing span:not(.n):nth-child(1) {
    animation: typing 1.2s infinite;
}

.gl-chat-box #typing span:not(.n):nth-child(2) {
    animation: typing 1.2s infinite 0.1s;
}

.gl-chat-box #typing span:not(.n):nth-child(3) {
    animation: typing 1.2s infinite 0.2s;
}

.gl-chat-box>.chat-box-footer {
    width: 100%;
    padding: 20px 15px;
    border-top: solid 1px #cfcfcf;
    box-sizing: border-box;
    display: flex;
}

.gl-chat-box>.chat-box-footer>#chat_input {
    color: #2f2f2f;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    background-color: #e2e2e285;
    width: 100%;
    height: 55px !important;
    max-height: 120px;
    border: none;
    padding: 10px 15px;
    resize: none;
    box-sizing: border-box;
    border-radius: 7px;
    transition: 0.3s background-color;
    font-size: 14px !important;
    outline: none;
}

.gl-chat-box>.chat-box-footer>#chat_input:focus {
    background-color: #efefef;
    height: 55px;
}

.gl-chat-box>.chat-box-footer>#gl-send {
    background: none;
    border: none;
    margin-left: 10px;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

@media (min-width: 480px) {
    .gl-chat-box {
        width: 420px;
    }
}

@keyframes typing {
    0% {
        transform: translateY(0px);
    }

    33.3333% {
        transform: translateY(-5px);
    }

    66.6667% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0px);
    }
}

button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button {
    outline: none;
}

h3>small {
    color: #ffffffc4;
    font-weight: normal;
}

.other-message-part {
    display: flex;
    align-items: center;
}

.other-message-part .other-profile {
    max-width: 30px;
    width: 100%;
    margin-right: 10px !important;
}

.other-message-part .other-profile img {
    width: 30px;
    height: 30px;
}

.my-message-part {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.my-message-part .my-profile {
    max-width: 30px;
    width: 100%;
    margin-left: 10px !important;
}

.my-message-part .my-profile {
    width: 30px;
    height: 30px;
}

.telephone-input-design {
    display: none;
    color: #2f2f2f;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    background-color: #e2e2e285;
    width: 100%;
    height: 55px !important;
    max-height: 120px;
    border: none;
    padding: 10px 15px;
    resize: none;
    box-sizing: border-box;
    border-radius: 7px;
    transition: 0.3s background-color;
    font-size: 14px !important;
    outline: none;
}

.main-parent-box {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 380px;
    position: absolute;
    bottom: 0;
    right: 10px;
    margin: 20px;
}

.gl-open-chat-box {
    padding: 20px;
    border-radius: 20px;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.gl-open-chat-box h3 {
    font-size: 22px;
    color: black;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 0px;
}

.gl-open-chat-box p {
    font-size: 16px;
    color: black;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    margin-bottom: 15px;
    margin-top: 0px;
}

.gl-open-chat-box button {
    border: 1px solid black !important;
    background-color: transparent;
    color: black;
    border-radius: 32px !important;
    font-size: 16px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    padding: 10px;
}

.open-box-footer {
    background-color: #38b7ff;
    padding: 10px 20px;
    text-align: right;
}

.open-box-footer img {
    border-radius: 50%;
}

.close-icon {
    position: absolute;
    right: 0;
    top: 0;
}

.gl-open-chat-box .chat-user-info {
    width: 95%;
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: #eee;
    color: #2f2f2f;
    border-radius: 7px;
    border: 0;
    transition: 0.3s background-color;
    font-size: 14px !important;
    outline: none;
    height: 30px;
}
.gl-chat-suggestions ul{
  list-style-type: none;
  text-align: right;
}
.gl-chat-suggestions ul li{
  margin-bottom: 5px;
  background-color: #38b7ff;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 7px;
}